unpackaged/post/Submit_Requirement_flow/flows/SubmitRequirement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>UpdateRequirementStatus</name>
        <label>Update Requirement Status</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Requirement.outfunds__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRequirement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the current requirement has been submitted.</description>
        <name>is_Requirement_Complete</name>
        <label>is Requirement Complete?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SubmitRequirementReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Requirement.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requirment_Complete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <interviewLabel>Submit Requirement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Requirement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Requirement</name>
        <label>Get Requirement</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Requirement_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>outfunds__Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequirement</name>
        <label>Update Requirement</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>RequirementSubmitted</targetReference>
        </connector>
        <inputReference>Get_Requirement</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>RequirementSubmitted</name>
        <label>RequirementSubmitted</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequirementSubmittedMessage</name>
            <fieldText>&lt;p&gt;Your requirement has been submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Requirment_Complete</name>
        <label>Requirment Complete</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequirementCompleteLabel</name>
            <fieldText>&lt;p&gt;This requirement has &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;already&lt;/span&gt; been submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmitRequirementReview</name>
        <label>SubmitRequirementReview</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateRequirementStatus</targetReference>
        </connector>
        <fields>
            <name>SubmitRequirementReviewMessage</name>
            <fieldText>&lt;p&gt;{!SubmitRequirementContentReviewMessage}&lt;/p&gt;&lt;p&gt;{!SubmitRequirementContentSubmit}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Requirement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Requirement record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitRequirementContentReviewMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.Submit_Requirement_Modal_Content_Review</elementReference>
        </value>
    </variables>
    <variables>
        <name>SubmitRequirementContentSubmit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.Submit_Requirement_Modal_Content_Submit</elementReference>
        </value>
    </variables>
</Flow>
